CLOUDINARY_API_KEY=****
CLOUDINARY_API_SECRET=
CLOUDINARY_CLOUD_NAME=

JWT_KEY=
SENDER_EMAIL=
SENDGRID_API_KEY=
POSTGRES_USERNAME= database username
POSTGRES_PASSWORD= database password
POSTGRES_DATABASE= database name
POSTGRES_HOST=database host
POSTGRES_DIALECT=database dialect<postgres>